* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: url(background.jpg);
  background-size: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(101, 64, 18);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3em 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(165, 89, 42, 0.35);
  backdrop-filter: blur(50px);
  z-index: -1;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
}
.header:hover:after {
  left: 100%;
}
.logo {
  width: 50px;
}

.navbar a {
  font-size: 1.15rem;
  color: rgb(191, 191, 191);
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}
.navbar a:hover {
  color: #fff;
}
#home {
  font-weight: bold;
  color: #fff;
}
#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

/*BREAKPOINTS*/

@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}
@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked ~ .icons #close-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(165, 89, 42, 0.181);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    overflow: hidden;
  }

  #check:checked ~ .navbar {
    height: 13.9rem;
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.8rem 0;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.3s ease;
  }
  #check:checked ~ .navbar a {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
}

main {
  margin-top: 7em;
}
h1 {
  text-align: center;
  font-size: 400%;
  color: white;
  font-family: "Georgia";
}
#intro {
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}
